<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.dss.android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityDemosActivity"
            android:label="@string/title_activity_activity_demos">
        </activity>
        <activity
            android:name=".activity.FirstActivity"
            android:label="@string/title_activity_first">
        </activity>
        <activity
            android:name=".activity.template.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.template.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation">
        </activity>
        <activity android:name=".activity.template.EmptyActivity">
        </activity>
        <activity
            android:name=".activity.template.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".activity.template.BookListActivity"
            android:label="@string/title_book_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.template.BookDetailActivity"
            android:label="@string/title_book_detail"
            android:parentActivityName=".activity.template.BookListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.dss.android.activity.template.BookListActivity"/>
        </activity>
    </application>

</manifest>